@import '../../styles/main.scss';

// 기본 투두리스트
// Default : 메인 투두
.Layout {
  display: flex;
  align-items: center;
  // background-color: chartreuse;
  justify-content: flex-start;
  margin-top: 10px;

  .Todo {
    display: flex;
    width: 100%;
    align-items: center;
    margin-right: auto;
    // background-color: brown;
    height: 50px;
    border-bottom: 4px solid;

    .CheckLayout {
      position: relative;
      cursor: pointer;
      // background-color: lawngreen;
      margin: 20px 20px 20px 0px;
      .Check {
        width: inherit;
        height: inherit;
        border-radius: 50%;
        box-shadow: inset 0px 4px rgba(0, 0, 0, 0.15);
      }
      & > img {
        display: none;
      }
    }
    .Contents {
      outline: none;
      border: 0;
      width: 100%;
      height: 100%;
      font-size: inherit;
      margin-right: auto;
    }
    .AddIcon {
      cursor: pointer;
      margin-right: 10px;
      @include center-xy;
      & > img {
        display: none;
        // width: 33px;
        // height: 33px;
      }
    }
  }

  // TODO Check
  &.Checked {
    .Todo {
      .CheckLayout {
        & > img {
          display: block;
          position: absolute;
          width: 80px;
          top: -28px;
          right: -26px;
        }
      }
      .Contents {
        text-decoration: line-through;
      }
    }
  }
  .DeleteIcon {
    opacity: 0.6;

    margin-left: 12px;
    @include center-xy;
    // background-color: beige;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

.MainLayout {
  margin-top: 25px;
  font-size: 20px;

  .Todo {
    // border-bottom: 4px solid $redBeanPink;
    border-color: $redBeanPink;
    .CheckLayout {
      width: 32px;
      height: 32px;
      .Check {
        background-color: $redBeanPink;
      }
    }
  }
  .SubCheckColor {
    background-color: $redBeanPink;
  }

  &.Checked {
    .Todo > .Contents {
      color: $redBeanPink;
    }
  }
  .AddIcon > img {
    width: 33px;
    height: 33px;
  }
  &:hover {
    .AddIcon > img {
      display: block;
    }
  }
  .DeleteIcon {
    width: 15px;
    height: 15px;
  }
}

// 서브 투두리스트
.SubTodoLayout {
  margin-left: 50px;
  font-size: 18px;

  .Todo {
    border-color: $cementGray;
    .CheckLayout {
      width: 30px;
      height: 30px;
      .Check {
        background-color: $cementGray;
      }
    }
  }
  .SubCheckColor {
    background-color: $cementGray;
  }

  .Contents {
    font-size: 18px;
  }

  &.Checked {
    .Todo > .Contents {
      color: $cementGray;
    }
  }
  .AddIcon > img {
    width: 33px;
    height: 33px;
  }
  .DeleteIcon {
    width: 13px;
    height: 13px;
  }
}
