@import '../../styles/main.scss';

.Layout {
  // background-color: rgb(52, 144, 99);
  display: flex;
  height: 220px;
  justify-content: center;
}

.DatesLayoutSection {
  // background-color: wheat;
  position: relative;
  display: flex;
  width: 80%;

  .NearbyDatesLayout {
    // background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    & > div:nth-child(1),
    & > div:nth-child(5) {
      border-color: $cementGray;
    }
    & > div:nth-child(2),
    & > div:nth-child(4) {
      border-color: $azaleaPink;
    }
    & > div:nth-child(3) {
      border-color: $crimsonRed;
    }
  }
  .Line {
    position: absolute;
    border: 4px solid $crimsonRed;
    bottom: 0px;
    width: 100%;
    border-radius: 10px;
  }
}
