@import '../../styles/main.scss';
.LayoutHeader {
  background-color: $crimsonRed;
  width: 100%;
  height: 60px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  // shadow
  box-shadow: 0 2px 5px rgba($color: #bababa12, $alpha: 1);

  // font 공통
  font-family: BagelFatOne;
  & > a {
    margin: 0px 20px;
    display: flex;
    text-decoration: none;
  }
}

.LayoutLogo {
  // background-color: palegoldenrod;
  height: 100%;
  cursor: pointer;
  align-items: center;

  .LogoIcon {
    font-size: 30px;
    // background-color: aqua;
    height: 30px;
    margin-right: 20px;
  }

  .LogoText {
    color: white;
    font-size: 30px;
    position: relative;
    top: -3px;
    // background-color: lawngreen;
  }
}

.LayoutLogin {
  cursor: pointer;
  display: flex;
  align-items: center;
  .LoginText {
    color: white;
    font-size: 20px;
  }
  .LoginIcon {
    height: 30px;
    margin-left: 6px;
  }
  .LogoutIcon {
    height: 35px;
    margin-left: 20px;
    // background-color: yellow;
  }
}
