$crimsonRed: #be3455;
$cementGray: #ededed;
$azaleaPink: #e0bfc7;
$redBeanPink: #d8cdcf;
$coalBrown: #565656;
$systemFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;
